[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Rx = "==1.6.0"
chainer = "*"
"05ffc3a" = {path = "./boatrace-scraping"}

[dev-packages]

[requires]
python_version = "3.6"
