[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Rx = "==1.6.0"
chainer = "*"
boatrace_scraping = { path = './boatrace-scraping/', editable = 'true' }

[dev-packages]

[requires]
python_version = "3.6"
